/inc32/
/inc64/
/out32/
/out32.dbg/
/out32dll/
/out32dll.dbg/
/out64/
/out64.dbg/
/out64dll/
/out64dll.dbg/
/perl/
/tmp32/
/tmp32.dbg/
/tmp32dll/
/tmp32dll.dbg/
/tmp64/
/tmp64.dbg/
/tmp64dll/
/tmp64dll.dbg/
