<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="openssl_vc120" target="openssl" namespace="openssl12" version = "1.0.1.700" pathversion="1_0_1_700" platformtoolset="v120" libcrypto="libeay" libssl="ssleay"/>